.main {
     padding: 4vw 10vw;
}
footer {
     // background-color: #000;
     // color: #fff;
     padding: 20px 0;
     position: fixed;
     bottom: 0;
     width: 100%;
 }
 html {
     background-color: $color__block;
 }